/vendor/
/storage/cache/data/**
!/storage/cache/data/.gitkeep
/storage/cache/ratelimit/**
!/storage/cache/ratelimit/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/uploads/*
!/uploads/.gitkeep
.env
.env.local
